**/Makefile
**/CMakeFiles
**/.cproject
**/.kdev4
**/.project
**/CMakeCache.txt
**/cmake_install.cmake
**/*~
**/.pydevproject
/CMakeLists.txt.user
/CPackConfig.cmake
/CPackSourceConfig.cmake
/install_manifest.txt
/trihlavsrv.cbp
.settings
/build/
/.vscode/
/.idea/
/trihlav.config
/trihlav.creator
/trihlav.files
/trihlav.creator.user
/trihlav.includes
/trihlav.kdev4
/cmake-build-debug/
/gtest/
/CTestTestfile.cmake
/trihlav.cbp
/Doxyfile
/compile_commands.json
/build/
/Testing/
