**/Makefile
**/CMakeFiles
**/.cproject
**/.kdev4
**/.project
**/CMakeCache.txt
**/cmake_install.cmake
**/*~
**/.pydevproject
/CMakeLists.txt.user
/CPackConfig.cmake
/CPackSourceConfig.cmake
/install_manifest.txt
/trihlavsrv.cbp
.settings
/.idea/
/trihlav.config
/trihlav.creator
/trihlav.files
/trihlav.creator.user
/trihlav.includes
/trihlav.kdev4
